.login-bg {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.login-card {
  width: 100%;
  max-width: 380px;
  background: white;
  border-radius: 28px;
  padding: 42px 34px;
  box-shadow: 0 1px 10px rgb(232, 133, 209);
  text-align: center;
  margin-top: -100px;
}

/* TITLE */
.login-title {
  font-size: 38px;
  font-weight: 700;
  background: linear-gradient(
    to right, 
    #8a4df3 0%,    
    #d35ba4 50%,   
    #f78154 100%   
);
  -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
  margin-bottom: 30px;
}

/* FORM */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-input {
  width: 100%;
  padding: 16px 18px;
  border-radius: 999px;
  border: 2px solid transparent;
  outline: none;
  font-size: 15px;
  background: #f4f7f8;
  box-shadow:
    inset 0 2px 4px rgba(206, 98, 225, 0.895);
  transition: 0.25s;
}

.login-input::placeholder {
  color: #8aa3a8;
}

.login-input:focus {
  background:
    linear-gradient(#f4f7f8, #f4f7f8) padding-box,
    linear-gradient(
      to right,
      #8a4df3 0%,
      #d35ba4 50%,
      #f78154 100%
    ) border-box;
}

.login-error {
  color: #ff4d4d;
  font-size: 13px;
  margin-top: -6px;
}

.login-button {
  margin-top: 10px;
  padding: 16px;
  border-radius: 999px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #c170bb, #f78154);
  transition: 0.25s;
}

.login-button:hover {
  transform: translateY(-2px);
}

.login-footer {
  margin-top: 22px;
  font-size: 14px;
  color: #9c1056;
}

.login-footer .login-link {
  color: orange;
  font-weight: 600;
  text-decoration: none;
}

.login-footer .login-link:hover {
  text-decoration: underline;
}

@media (max-width: 420px) {
  .login-bg{
    padding: 10px;
  }
  .login-card {
    padding: 28px 20px;
    border-radius: 22px;
    margin-top: -120px;
  }

  .login-title {
    font-size: 28px;
  }

  .login-input {
    padding: 14px;
    font-size: 14px;
  }

  .login-button {
    padding: 14px;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .login-card {
    max-width: 460px;
    padding: 50px 46px;
  }

  .login-title {
    font-size: 40px;
  }
}
