/* Inherits .card-box styles from Priority.css */

.categories-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.category-item {
    display: flex;
    flex-direction: column;
}

.category-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.category-name {
    text-transform: capitalize;
    font-weight: 500;
}

.category-percentage {
    font-size: 0.875rem;
    color: purple;
}

.category-progress-bar-container {
    height: 8px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.category-progress-bar {
    height: 100%;
    border-radius: 4px;
}

/* Custom Scrollbar for scrollable content */
.scrollable-content {
    overflow-y: auto;
    flex-grow: 1; /* Allows the container to take available space */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
