.secondary-overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 1200px) {
    .secondary-overview {
        grid-template-columns: 1fr;
    }
}
