.forgot-password-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.forgot-password-card {
  width: 100%;
  max-width: 28rem;
  padding: 2rem;
  background-color: white;
  border-radius: 28px;
  box-shadow: 0 1px 10px rgb(232, 133, 209);
}

.forgot-password-title {  
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(
    to right, 
    #8a4df3 0%,    
    #d35ba4 50%,   
    #f78154 100%   
);
  -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
}
.label-reg-email{
  font-size: 14px;
  margin-left: 10px;
}
.forgot-password-form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.forgot-password-input {
  width: 100%;
  padding: 8px 18px;
  border-radius: 999px;
  border: 2px solid transparent;
  outline: none;
  font-size: 15px;
  background: #f4f7f8;
  box-shadow:
    inset 0 2px 4px rgba(206, 98, 225, 0.895);
  transition: 0.25s;
}

.forgot-password-input::placeholder {
  color: #6b7280;
}

.forgot-password-input:focus {
  background:
    linear-gradient(#f4f7f8, #f4f7f8) padding-box,
    linear-gradient(
      to right,
      #8a4df3 0%,
      #d35ba4 50%,
      #f78154 100%
    ) border-box;
}

.forgot-password-button {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: white;
  background: linear-gradient(90deg, #c170bb, #f78154);
  border: 1px solid transparent;
  border-radius: 999px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  cursor: pointer;
}

.forgot-password-message {
  font-size: 12px;
  text-align: center;
  color: #16a34a;
  margin-top: 10px;
}
@media screen and (max-width: 500px) {
  .forgot-password-card{
    margin: 10px;
  }
}
@media screen and (max-width: 285px){
  .forgot-password-title{
    font-size: 18px;
  }
  .label-reg-email{
    font-size: 10px;
  }
}