body {
    background-color: #f0f2f5; /* Matching globals.css body color */
}

.dashboard-container {
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.dashboard-header h1 {
    font-size: 28px;
    font-weight: 700;
    color: white;
    background-color: purple;
    padding: 10px;
}

.task-status-section {
    margin-top: 2rem;
}

.task-status-section h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.loading-message, .error-message {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
}
.task-status-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.task-status-div h2{
    background-color: purple;
    padding: 10px;
    color: white
}
@media screen and (max-width: 400px) {
    .dashboard-header h1{
        margin-top: -40px;
        margin-bottom: -20px;
    }   
}